$black: black;
$red: #8B0000;
$grey: #EEEEEE;
$dark-grey: #D3D3D3;
$white: white;

$color-text: $black;
$color-text-alt: $red;
$color-text-block: $white;
$color-bg: $dark-grey;
$color-bg-alt: $grey;

$font-family-title: 'Oswald', sans-serif;
$font-family-text: 'Helvetica, Arial, sans-serif';
$font-family-fallback: 'Helvetica, Arial, sans-serif';
