.main__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    margin-bottom: 1em;

    &--title {
        font-size: 2em;
        font-weight: bold;
    }

    &--block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1em;
        border: 2px $dark-grey solid;
        width: 25%;
        
        &--img {
            width: 10em;
            margin: 2em 0 1em 0;
        }

        &--title {
            font-weight: bold;
            color: $red;
        }

        &--content {
            text-align: center;
            margin: 1em 0;
            font-weight: 400;
        }
    }
}